

{% block collot_datetime_widget %}
{% spaceless %}
    <div class='input-group date' id="{{ id }}">
        <input type='text' class="form-control" readonly />
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
    <input id="{{ id }}_real" name="{{ full_name }}" type="hidden" value="" />
{% endspaceless %}



{% endblock collot_datetime_widget %}


